body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar { 
  display: none; 
}

a {
  color:darkgrey;
}

header {
  margin-top: 0px;
  height: 13vh;
  padding: 30px;
  background-color: pink;
}

#header-title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1em;
  font-size: 1.5em;
}

#header-title, h1 {
  margin-top: 0px;
}

#root {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

input {
  height: 30px;
  width: 97%;
  border: none;
  border-bottom: solid grey 1px;
}

#search-div {
  margin: 20px;
  height: 5vh;
}

label {
  color: grey;
  font-style: italic;
  font-size: 0.85em;
}

#resultsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto; 
  height: 63vh;
}

footer {
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5em;
  text-align: center;
  margin: 0px;
}

.card-header {
  padding: none;
  margin: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.result-img {
  max-width: 200px;
  max-height: 15vh;
  padding: 0px;
  margin:2px;
}

.card {
  /* width: 21%; */
  height: 29vh;
  border: solid pink 1px;
  margin: 8px;
  padding: 2px;
  float: left;
  /* overflow: hidden; */
  text-align: center;
  flex: 1 0 auto;
}

.card:nth-child(5n+0) {
  width: 42%;
}

/* .card:nth-child(7n+0) {
border: solid #ffc0cb80 1px;
background: #ffc0cb80;
} */

.result-description {
  font-size: 0.8em;
  line-height: 0.5em;
}

.divider {
  color: lightgrey;
} 

.neon-text {
  font-weight: bold;
  -webkit-animation-name: neon-light;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-name: neon-light;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes neon-light {
  0%   {-webkit-text-stroke: 1.5px rgb(233, 122, 224);}
  22%   {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  25%  {-webkit-text-stroke: 0px;}
  26%  {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  29%  {-webkit-text-stroke: 0px;}
  30% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  31%  {-webkit-text-stroke: 0px;}
  32% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  32.5%  {-webkit-text-stroke: 0px;}
  33% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  100% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
}

@keyframes neon-light {
  0%   {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  22%   {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  25%  {-webkit-text-stroke: 0px;}
  26%  {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  29%  {-webkit-text-stroke: 0px;}
  30% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  31%  {-webkit-text-stroke: 0px;}
  32% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  32.5%  {-webkit-text-stroke: 0px;}
  32.75% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  100% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
}

