body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar { 
  display: none; 
}

a {
  color:darkgrey;
}

header {
  margin-top: 0px;
  height: 13vh;
  padding: 30px;
  background-color: pink;
}

#header-title {
  width: 80%;
  margin: 0px auto;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1em;
  font-size: 1.5em;
}

#header-title, h1 {
  margin-top: 10px;
}

#root {
  width: 80%;
  margin: 0px auto;
}

input {
  height: 30px;
  width: 97%;
  border: none;
  border-bottom: solid grey 1px;
}

#search-div {
  margin: 20px;
  height: 5vh;
}

label {
  color: grey;
  font-style: italic;
  font-size: 0.85em;
}

#resultsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto; 
  height: 63vh;
}

footer {
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5em;
  text-align: center;
  margin: 0px;
}

.card-header {
  padding: none;
  margin: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.result-img {
  width: 100%;
}

.card-img {
  width: 100%;
  max-height: 60%;
  overflow: hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card {
  width: 29vh;
  height: 29vh;
  border: dotted pink 1px;
  margin: 8px;
  padding: 2px;
  float: left;
  text-align: center;
  flex: 0 1 auto;
}

.result-description {
  font-size: 0.8em;
  line-height: 0.5em;
}

.divider {
  color: lightgrey;
} 

.neon-text {
  font-weight: bold;
  -webkit-animation-name: neon-light;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-name: neon-light;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes neon-light {
  0%   {-webkit-text-stroke: 1.5px rgb(233, 122, 224);}
  22%   {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  25%  {-webkit-text-stroke: 0px;}
  26%  {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  29%  {-webkit-text-stroke: 0px;}
  30% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  31%  {-webkit-text-stroke: 0px;}
  32% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  32.5%  {-webkit-text-stroke: 0px;}
  33% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  100% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
}

@keyframes neon-light {
  0%   {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  22%   {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  25%  {-webkit-text-stroke: 0px;}
  26%  {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  29%  {-webkit-text-stroke: 0px;}
  30% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  31%  {-webkit-text-stroke: 0px;}
  32% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  32.5%  {-webkit-text-stroke: 0px;}
  32.75% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
  100% {-webkit-text-stroke: 1.5px rgb(233, 123, 224);}
}

@media screen and (max-width:1150px) {
  .card {
    width: 45%;
  }

  #resultsDiv {
    justify-content: space-evenly;
    overflow: auto; 
    height: 63vh;
  }

}

@media screen and (max-width:960px) {
  input {
    width: 90%;
  }

  .card {
    width: 100%;
  }

  .card-img {
    max-height: 70%;
  }
}

@media screen and (max-width:640px) {
  #search-div {
    height: 10vh;
  }

  header {
    height: 5%;
  }

  #header-title {
    font-size: 1em;
  }
  
}



